/* 
 * CONFIGURACIÓN DEL ASPECTO DE WAYBAR A DRACULA THEME
 *
*/

* {
    border: none;
/*    font-family: Font Awesome, Inter, Roboto, Arial, sans-serif; */
    font-family: Inter;
    font-size: 13px;
/*    color: #ffffff; */
    color:  #f8f8f2; 
/*    color: #000000; */
    border-radius: 20px;
}

window {
	/*font-weight: bold;*/
}
window#waybar {
    background: rgba(0, 0, 0, 0);
}
/*-----module groups----*/
.modules-right {
/*	background-color: rgba(0,43,51,0.85); */
	background-color: rgba(40,42,54,1);
    margin: 2px 10px 0 0;
}
.modules-center {
/*	background-color: rgba(0,43,51,0.85); */
	background-color: rgba(40,42,54,1);
    margin: 2px 0 0 0;
}
.modules-left {
    margin: 2px 0 0 7px;
/*	background-color: rgba(0,119,179,0.6); */
	background-color: rgba(40,42,54,1);
}

/*-----modules indv----*/
#workspaces button {
    padding: 1px 5px;
    background-color: transparent;
}
#workspaces button:hover {
    box-shadow: inherit;
	background-color: rgba(0,153,153,1);
}

#workspaces button.focused {
/*	background-color: rgba(0,43,51,0.85); */
	background-color: rgba(98,114,164,0.85); 
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#idle_inhibitor {
    padding: 0 10px;
}
#mode {
    color: #cc3436;
    font-weight: bold;
}
#custom-power {
/*    background-color: rgba(0,119,179,0.6); */
    background-color: rgba(40,42,54,1);
    border-radius: 50px;
    margin: 5px 5px;
    padding: 1px 3px;
}
/*-----Indicators----*/
#idle_inhibitor.activated {
    color: #2dcc36;
}
#pulseaudio.muted {
    color: #cc3436;
}
#battery.charging {
    color: #2dcc36;
}
#battery.warning:not(.charging) {
	color: #e6e600;
}
#battery.critical:not(.charging) {
    color: #cc3436;
}
#temperature.critical {
    color: #cc3436;
}
#keyboard-state {
	padding: 3px 3px;
}

#custom-notification {
  font-family: "NotoSansMono Nerd Font";
  padding: 1px 3px;
}

#custom-media {
  padding: 3px 3px;
}
/*-----Colors----*/
/*
 *rgba(0,85,102,1),#005566 --> Indigo(dye)
 *rgba(0,43,51,1),#002B33 --> Dark Green 
 *rgba(0,153,153,1),#009999 --> Persian Green 
 *
 */
