/* 
 * CONFIGURACIÓN DE WOFI CON DRACULA THEME
 *
 */

window {
    margin: 5px;
    border: 3px solid;
    border-color: #6272A4;
    background-color: rgba(68,71,90,0.8);
    /* background: transparent; */
    /* background: transparent; */
}

#input {
    margin: 5px;
    background: transparent;
    color: #F8F8F2;
    /* border: 2px solid blue; */
    /* background-color: blue; */
}

#inner-box {
    margin: 5px;
    /* border: 2px solid yellow; */
    /* background-color: yellow; */
}

#outer-box {
    margin: 5px;
    /* border: 2px solid green; */
    border: 2px transparent;
    /* background-color: green; */
}

#scroll {
    margin: 5px;
    /* border: 2px solid orange; */
    /* background-color: orange; */
}

#text {
    margin: 5px;
    color: #F8F8F2;
    /* border: 2px solid cyan; */
    /* background-color: cyan; */
}

#entry:selected {
    background-color: #6272A4;
    /* text-decoration: underline; */
    /* text-decoration-color: white; */
}

#text:selected {
     /* background-color: red; */
    text-decoration: underline;
    text-decoration-color: #F8F8F2;
}
